nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.map {
  width: 100%;
  height: 100%;
}
.bi-funnel {
  margin-left: 10px;
  color: #5680A6;
}
.z-index-9 {
  z-index: 9;
}

.res-width {
  width: 25%;
}

.w-0 {
  width: 0%;
}
@media (max-width: 992px) { 
  .res-width {
    width: 90%;
  }
}