.filter-options {
    width: 100px;
    padding: 6px;
    background-color: white;
    top: 0;
    right: -116px;
    z-index: 100;
    border-radius: 6px;
    border: 1px solid #dee2e6;
} 
.filter-option {
    padding: 3px 6px;
    border-radius: 3px;
}

.filter-option:hover {
    color: white;
    background-color: #3d62be;
}
@media (max-width: 576px) { 
    .filter-options {
        top: 0;
        right: 26px;
    }
}