.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2,
h3 {
  text-align: center;
}
.trash {
  display: flex;
  flex-direction: column-reverse;
  background: #e2e2e2;
  width: 100px;
  border-radius: 10px;
  height: 200px;
  padding: 6px;
  box-shadow: 3px 3px 3px #efefef;
  margin-bottom: 4px;
}
